<footer>

  <div class="footer-content">

    <div class="footer-brand">

      <img src="http://localhost/netninjaclass/film/assests//images/filmopia.png" alt="" class="footer-logo">
      <p class="slogan">Cinema, 
      Movie Streaming Website.</p>


      <div class="social-link">

        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
        <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
        <a href="#"><ion-icon name="logo-tiktok"></ion-icon></a>

      </div>
    </div>


    <div class="footer-links">
      <ul>

        <h4 class="link-heading">Filmopia</h4>

        <li class="link-item"><a href="http://localhost/netninjaclass/">Home</a></li>
        <li class="link-item"><a href="http://localhost/netninjaclass/View/film_front.php">Films</a></li>
        <li class="link-item"><a href="http://localhost/netninjaclass/View/subscribe.php">Subscribe</a></li>

      </ul>

    </div>

  </div>
  

  <div class="footer-copyright">

    <div class="copyright">
      <p>Copyright © Filmopia 2023</p>
    </div>

  </div>


</footer>